* {
	word-break: keep-all;
}

.deh{
	background: linear-gradient(lightblue, khaki);
	padding: 5px;
	text-align: center;
	border-radius: 20px;
}

article {
	background-color: lightgoldenrodyellow;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;

}


section {
	border: 5px double navy;
	margin-bottom: 20px;
	border-radius: 20px;
	width: 30vw;
	padding: 10px;
	
}

h3 {
	background-color: lightgrey;
	text-align: center;
	font-size: 30px;
}

h2 {
	background-color: mediumpurple;
	text-align: center;
	font-size: 40px;
}

h1{
	font-size: 40px;
}

p {
	line-height: 2;
	font-size: 25px;
}

.inheader {
	background: linear-gradient(black, white);
	padding: 5px;
	text-align: center;
	border-radius: 20px;
}

.me {
	box-shadow: 20px 20px 20px 7px black;
	text-align: center;
	font-size: 30px;
	background-color: lightgrey;
	position: absolute;
	width: 400px;
	height: 100px;
	border-radius: 100px;
	top: 300px;
	left: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.meh {
	background: linear-gradient(mediumpurple, khaki);
	padding: 5px;
	text-align: center;
	border-radius: 20px;
}

.design {
	box-shadow: 20px 20px 20px 7px black;
	text-align: center;
	font-size: 30px;
	background-color: lightgrey;
	position: absolute;
	width: 400px;
	height: 100px;
	border-radius: 100px;
	top: 300px;
	left: 1300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inbody{
	background-color: grey;
}

.den1 {
	background-color: lightblue;
	text-align: center;
	font-size: 40px;
}

.den2{
	background-color: lightblue;
	text-align: center;
	font-size: 40px;
}

a {
	color: black;
	text-decoration: none;
}



@media screen and (max-width: 900px){
	
	.me {
		
		top: 300px;
		left: 50px;
	}

	.design {
		top: 500px;
		left: 50px;
		
	}

	.inbody {
		background-color: white;
	}

	article{
		flex-direction: column;
	}

	section{
		width: 300px;
	}
	.saltbread{
		width: 300px;
	}

	.book{
		width: 300px;
	}

	.books{
		width: 300px;
	}

	.campaign{
		width: 300px;
	}
}